@import 'sassVariables';

.button-test {
    color: $primary-color;
    background: $tint-color;
    @extend %bold-font;
    &:hover {
        color: $dark-shade-color;
        background: $dark-tint-color;
    }
    &:active {
        color: $light-shade-color;
        background: $light-tint-color;
    }
}
.onclick-text {
    color: $dark-shade-color;
    background: $tint-color;
    @extend %regular-font;
}
